body
{
background-color:#FFFFFF;
background-image:url(images/clouds.jpg);
/*
clouds.jpg courtesy of ~start-static (2008)
*/
}

div#domo
{
margin:100px auto;
width:800px;
height:700px;
background-color:#994400;
border-radius:30px;
}

div#eyes
{
height:200px;
}

img#lefteye
{
position:relative;
left:130px;
top:60px;
}

img#righteye
{
position:relative;
left:500px;
top:60px;
}

img#lefteye, img#righteye
{
height:80px;
width:80px;
}

img.leftalign
{
height:25%;
width:25%;
float:left;
margin-right:5px;
}

div#lowerface
{
height:450px;
}

div#leftcheek
{
width:150px;
height:450px;
float:left;
}

div#rightcheek
{
width:150px;
height:450px;
float:right;
}

div#mouthwrapper
{
float:left;
width:62%;
height:450px;
}

div#topteeth
{
background-image:url('images/topteeth.png');
height:50px;
}

div#bottomteeth
{
background-image:url('images/bottomteeth.png');
background-repeat:no-repeat;
height:100px;
}

div#mouth
{
background-color:#FF0000;
height:300px;
}

div#content
{
margin-left:auto;
margin-right:auto;
width:95%;
height:100%;
overflow:auto;
}

div#footer
{
height:50px;
}

p, h1, h2, table
{
font-family:Arial, serif;
}

table
{
width:95%;
border-collapse:collapse;
}
table, td, th
{
border:1px dotted black;
padding:5px;
}

.center
{
text-align:center;
}

.quote
{
font-size:small;
text-indent:50px;
}

a:link
{
color:#000000;
}

a:visited
{
color:#000000;
}

a:hover
{
color:#CCCCCC;
}

a:active
{
color:#CCCCCC;
}